<div style="text-align:center">
  <h1>
    Welcome to Angular!
  </h1>
  <nav  class="pageclass" aria-label="Page navigation example">
    <ul class="pagination justify-content-end">
      <li class="page-item"><a class="page-link" href="#">Previous</a></li>
      <li class="page-item"><a class="page-link" href="#">1</a></li>
      <li class="page-item"><a class="page-link" href="#">2</a></li>
      <li class="page-item"><a class="page-link" href="#">3</a></li>
      <li class="page-item"><a class="page-link" href="#">Next</a></li>
    </ul>
  </nav>
 </div>

 <table class="styled-table">
   <thead>
     <tr>
       <th>UserId</th>
       <th>Id</th>
       <th>Title</th>
       <th>Body</th>
     </tr>
   </thead>
   <tbody>
     <tr *ngFor="let image of data">
       <td>{{image.userId}}</td>
       <td>{{image.id}}</td>
       <td>{{image.title}}</td>
       <td>{{image.body}}</td>
     </tr>
   </tbody>
  </table>
